$border: 2px solid #80808082;
$bg-color: #80808030;
$font-size: 23px;

body {
    margin: 0;
    padding: 0;
}
.edetails {
    height: auto;
    width: 44%;
    margin: 10% auto;
    border: $border;
    background-color: $bg-color;
}
.evatar {
    position: relative;
    top: 20px;
    left: 20px;
    float: left;
    margin: 0 10% 0 0;

    img{
        border: $border;
        cursor: pointer;
    }
}
.einfo {
    font-size: $font-size;
    padding-bottom: 15%;

    span {
        display: block;
        text-align: left;
    }
}
